[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "third_party/cpp-mjpeg-streamer"]
	path = third_party/cpp-mjpeg-streamer
	url = https://github.com/nadjieb/cpp-mjpeg-streamer
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
